<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <style>
        * {
            background-color: rgb(20, 10, 20);
            color: azure;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Расписание</h1>

    <select name="group" id="group-select">
        {% for g in groups %}
        <option value="{{ g }}">
            {{ g }}
        </option>
        {% endfor %}
    </select>

    <button
    hx-get="/week"
    hx-target="#schedule-content"
    hx-include="#group-select, #week-input">
        Получить расписание</button>

    <input type="number"
           id="week-input"
           name="week_num"
           value="{{ week_num or '' }}"
           placeholder="Номер недели">

    <div id="schedule-content">

    </div>
</body>
</html>